{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h2>pseudo User</h2> {# pseudo User #}
            </div>
        </div>
        <div class="row">
            <div class="col-3"> {# photo user #}

            </div>
            <div class="col-9">

                <div class="row">
                    <div class="col">
                        Prénom :
                    </div>
                    <div class="col">
                        prénom {# prénom #}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        Nom :
                    </div>
                    <div class="col">
                        nom {# nom #}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        Téléphone :
                    </div>
                    <div class="col">
                        06.01.02.03.04 {# tél #}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        Email :
                    </div>
                    <div class="col">
                        email@campus-eni.fr {# email #}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        Campus :
                    </div>
                    <div class="col">
                        Campus-ENI {# campus #}
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col text-center">
                <button type="button" class="btn btn-secondary">Retour</button>
            </div>
        </div>

    </div>

{% endblock %}
