{#{% extends './base.html.twig' %}#}

{#{% block title %}Annuler la sortie{% endblock %}#}

{#{% block body %}#}
{#    <h1>Annuler la sortie</h1>#}


{#    <button> Enregistrer </button>#}

{#    {{ form(form) }} #}{# appelle 'form' dans render form de l'edit du UserController #}

{#    <button> Annuler </button>#}

{#        <a href="{{ path('sortie_index') }}">Revenir à l'accueil</a>#}

{#        {{ include('pages/sortie/cancel.html.twig') }}#}

{#{% endblock %}#}
