{% extends './base.html.twig' %}

{% block title %}Annuler la sortie{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Annuler la sortie</h1>
    <div class="w-75 mx-auto">
        {{ form(form) }}
    </div>


    <button> Annuler </button>

       <a href="{{ path('sortie_index') }}">Revenir à l'accueil</a>

{% endblock %}
