{% extends './base.html.twig' %}

{% block title %}Edit Sortie{% endblock %}

{% block body %}
    <a class="btn btn-outline-secondary mx-3 my-3" href="{{ path('sortie_index') }}">Revenir à la liste</a>
    <h1 class="text-center">Modifier une sortie </h1>

    <div class="w-75 mx-auto">
        {{ form(form) }}
    </div>
{% endblock %}
