{% extends './base.html.twig' %}

{% block title %}Edit Sortie{% endblock %}

{% block body %}
    <h1>Edit Sortie</h1>

{#    {% if organisateurId == userId %}#}

    {{ form(form) }} {# appelle 'form' dans render form de l'edit du UserController #}

    <button> Annuler la sortie </button>

        {{ include('pages/sortie/_delete_form.html.twig') }}

    <a href="{{ path('sortie_index') }}">Revenir à l'accueil</a>
{#    {% endif %}#}

{% endblock %}
