<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/logo_projet_sort-removebg-preview.png') }}"></svg>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
{#            {{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('assets/map.js') }}"></script>
{#            {{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block header %}{% include 'partials/_header.html.twig'%}{% endblock %}
        {% block body %}{% include 'partials/_body.html.twig'%}{% endblock %}
        {% block footer %}{% include 'partials/_footer.html.twig'%}{% endblock %}
    </body>
</html>
