{% block body %}
    <div class="d-flex justify-content-center">
        <a href="https://imgflip.com/i/6rw76a">
            <img src="https://i.imgflip.com/6rw76a.jpg" title="made at imgflip.com"/>
        </a>
    </div>


{% endblock %}