{% extends './base.html.twig' %}

{% block title %}Edit Lieu{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col text-center my-5">
                <h1>Modifier un lieu</h1>
            </div>
        </div>
        <div class="row">
            <div class="col mb-5">
                {{ include('pages/lieu/_form.html.twig', {'button_label': 'Modifier'}) }}
            </div>
        </div>
    </div>


{% endblock %}
