{% extends './base.html.twig' %}

{% block title %}New Lieu{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Nouveau lieu</h1>
    <div class="w-75 mx-auto mb-5">
        {{ include('pages/lieu/_form.html.twig') }}
    </div>

{% endblock %}
