{% extends './base.html.twig' %}

{% block title %}New Lieu{% endblock %}

{% block body %}
    <h1>Create new Lieu</h1>
    <div class="w-75 mx-auto">
        {{ include('pages/lieu/_form.html.twig') }}
    </div>

    <a href="{{ path('lieu_index') }}">back to list</a>
{% endblock %}
