{% extends './base.html.twig' %}

{% block title %}Ville{% endblock %}

{% block body %}
    <div class="d-flex justify-content-start my-3 mx-3">
        <a class="btn btn-outline-secondary" href="{{ path('ville_index') }}">Retour a la liste</a>
    </div>
    <h1 class="text-center my-4">Ville</h1>
    <table class="table table-striped w-75 mx-auto">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ ville.nom }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ ville.codePostal }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center my-4">
        <a class="btn btn-warning" href="{{ path('ville_edit', {'id': ville.id}) }}">Modifier</a>
    </div>

{% endblock %}
